
{% capture imagepart %}
    <div class="col-3">
      <img style="width:100%" class="card-img-bottom rounded" src="{{ include.image }}" alt="{{ include.title }}">
    </div>
{% endcapture %}
 
<div class="container infocard">
  {% if include.link %}
    <a class="text-decoration-none" style="color:inherit" href="{{ include.link }}">
  {% endif %}
  <div class="row" style="width:100%">
  {% if include.leftimg %}
    {{ imagepart }}
  {% endif %}
    <div class="col-9">
      <p class="fs-3 fw-bolder align-middle mb-0">{{ include.title }}</p>
  {% if include.postdate %}
  <p class="text-muted gy-0 py-0 my-0 fs-6 fst-italic">Posted on: {{ include.postdate | date: "%A %B %-d, %Y"}}
   
  {% for ptag in post.tags %}
    {% include tagpill.html tag=ptag %}
  {% endfor %}
  
  </p>
  {% endif %}
      <p class="card-text">{{ include.text }}</p>
    </div>
  {% unless include.leftimg %}
    {{ imagepart }}
  {% endunless %}
  </div>
{% if include.link %}</a>{% endif %}
</div>
