<!-- To use this, drop the following in your body <header data-include='header.html'></header> -->
  <div class="collapse bg-dark fs-header" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About Me</h4>
          <p class="text-white">
I am a marine mammal biologist currently undertaking a PhD at the University of Portsmouth (UK), investigating the risk of ship collisions with whales and other cetaceans (whales, dolphins and porpoises) in the north-east Atlantic. I'm broadly interested in human-induced impacts on the marine environment, polar ecology, animal behaviour and the conservation of marine vertebrates.           
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">
            <a href="/contact.html" class="text-white">Contact Me</a>
         </h4>
          <ul class="list-unstyled">
          </ul>
        </div>
      </div>
       
      <div class="row row-cols-auto text-light text-decoration-none">
        <div class="col fst-italic">Navigation:</div>
        <div class="col"><a class="text-reset" href="/about.html">About Me</a></div>
        <div class="col"><a class="text-reset" href="/writing.html">Publications</a></div>
      </div>
    </div>
  </div>


  <div class="navbar navbar-dark bg-dark shadow-sm fs-header">
    <div class="container">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <strong>James Richard Robbins</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>


