---
layout: null
---

:root {
  --jumbotron-padding-y: 3rem;
}

.fs-header {
  background-image: url('/images/icons/topoppl-1024.webp');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
  background-image: url('/images/withfs/thewinds-1024.jpg');
  background-repeat: no-repeat;
/*  background-position: top left; */
  background-position: middle left;
  background-size: cover;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .textcontainer {
  max-width: 70%;
  background: rgba(200,200,200,0.6);
  border-radius: 10px;
  padding: 2rem;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.authorbio img {
  margin: auto;
  display: block;
}


.infocard {
    border-style: solid;
    border-color: lightgrey;
    border-radius: 5px;
    padding: 10px 10px;
    width: 95%;
    margin: 5px 20px 20px 20px;
}

.picturecard {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* for 1:1 aspect ratio... don't ask me */
     
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.contactpicture {
    position: relative;
    padding-bottom: 100%; /* for 1:1 aspect ratio... don't ask me */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.6;
}

.contacttext {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.accordion-button:focus {
  outline: 0 !important;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: #f8f9fa !important;
}
 
.blog p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tagfmt {
  background-color: pink;
  color: black;
}
 
{% for tag in site.data.tags %}
.tagfmt-{{tag.name}} {
  background-color: {{tag.bgcolor}} !important;
  color: {{tag.fgcolor}} !important;
}
{% endfor %}
 
