---
layout: withbanner
---

<h1 class="fw-light fs-6 fst-italic">Posted on: {{ page.date | date: "%A %B %-d, %Y" }}
  {% for ptag in page.tags %}
    {% include tagpill.html tag=ptag %}
  {% endfor %}
</h1>

<div class="blog">
{{ content | remove_first:page.excerpt }}
</div>

<div class="container py-3">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col authorbio">
      <div>
      <img class="bd-placeholder-img rounded-circle" alt="Eloise Robbins (Fun Size)" width="140" height="140" src="/images/justfs/fsface1-320.webp">
      </div>
      <div>
      <h1 class="fs-6">About the Author</h1>
      <p><a href="/about.html">Eloise Robbins</a> (Fun Size) is a writer, triple crown thru hiker, and adventurer. She is a lover of the outdoors, hiking, canoeing, and most of all mountains.
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    {% include comments.md %}
  </div>
</div>
